# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders and files to ignore
proof_of_concept/dummy_closer_workspace/.codelite
proof_of_concept/dummy_closer_workspace/dummy_closer_workspace.workspace
proof_of_concept/dummy_closer_workspace/Makefile
proof_of_concept/dummy_closer_workspace/tags
proof_of_concept/dummy_closer_workspace/dummy_project/Debug
proof_of_concept/dummy_closer_workspace/dummy_project/compile_flags.txt
proof_of_concept/dummy_closer_workspace/dummy_project/tags
proof_of_concept/dummy_closer_workspace/dummy_project/dummy_project.project
proof_of_concept/dummy_closer_workspace/dummy_project/dummy_project.mk